.app-mercenaries {
    width: 100%;
    height: 26rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    cursor: pointer;
    background: linear-gradient(0deg,#6c547e,#1b5963);
    border-radius: 1.5rem 1.5rem 0 0;
    overflow: hidden;
    overflow-y: scroll;
    
}

.app-weapon-card {
    width:33%;
}

/* Scroll */
.app-mercenaries::-webkit-scrollbar-track
{
    width: 0.7rem;
    background-color: #1b5963;
    border-radius: 0.6rem;
}

.app-mercenaries::-webkit-scrollbar
{
    width: 0.7rem;
    background-color: #1b5963;
    border-radius: 0.6rem;
}

.app-mercenaries::-webkit-scrollbar-thumb
{
    width: 0.7rem;
    background-color: #79dfe2;  
    border-radius: 0.6rem;
}

@media screen and (max-width: 70rem) {
    .app-weapon-card {
      width:49%;
    }
  }