<div class="enemy-box-data">
    <div class="ratio-moster-down">{{MostersDownOnCurrentLevel}}/{{MaxMosterOnLevel}}</div>
    <div class="name">HERE IS A MONSTER NAME</div>
    <div class="health-box">
        <div class="health-data">
            <div class="from">{{this.EnemyHP}}/</div>
            <div class="to">{{this.FullHP}}</div>
        </div>
        <div class="health-percentage">
            <div class="prg"  [ngStyle]="{'width.%': this.PercentHP}"></div>
        </div>
    </div>
    <!-- <div class="boss-lvl ">
        <div class="label"></div>
        <div class="icon"></div>
        <div class="text"></div>
    </div> -->
    <div class="loc-list">
        <div class="locs">
            <div class="loc">
                <div class="loc-text">{{this.EnemyCurrentLevel}}</div>
                <div class="loc-text2">lvl</div>
            </div>
        </div>
    </div>
</div>