<div class="enemy-box-all">
    <div class="lvl-prg">{{this.getMostersDownOnCurrentLevel()}}/{{this.getMaxMosterOnLevel()}}</div>
    <div class="name">Normal Tentacle Beast</div>
    <div class="health">
        <div class="p100">
            <div class="prg"  [ngStyle]="{'width.%': this.getPercentHP()}"></div>
        </div>
        <div class="num pulse">
            <div class="from">{{this.getEnemyHP()}}/</div>
            <div class="to">{{this.getFullHP()}}</div>
        </div>
    </div>
    <div class="boss-lvl ">
        <div class="label">LVL</div>
        <div class="icon"></div>
        <div class="text">1</div>
    </div>
    <div class="loc-list">
        <div class="locs">
            <div class="loc">
                <div class="loc-text">{{this.getCurrentLevel()}}</div>
                <div class="loc-text2">lvl</div>
            </div>
        </div>
    </div>
</div>