<div class="enemy-box-all">
    <div class="lvl-prg">{{MostersDownOnCurrentLevel}}/{{MaxMosterOnLevel}}</div>
    <div class="name">Normal Tentacle Beast</div>
    <div class="health">
        <div class="p100">
            <div class="prg"  [ngStyle]="{'width.%': this.PercentHP}"></div>
        </div>
        <div class="num pulse">
            <div class="from">{{this.EnemyHP}}/</div>
            <div class="to">{{this.FullHP}}</div>
        </div>
    </div>
    <div class="boss-lvl ">
        <div class="label">LVL</div>
        <div class="icon"></div>
        <div class="text">1</div>
    </div>
    <div class="loc-list">
        <div class="locs">
            <div class="loc">
                <div class="loc-text">{{this.EnemyCurrentLevel}}</div>
                <div class="loc-text2">lvl</div>
            </div>
        </div>
    </div>
</div>