.hero-left-side,
.hero-equipments-box {
    display: flex;
}

.hero-equipments {
    display: flex; 
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero-equipments-box {
    height: 70%;
}

.app-hero-stats {
    height: 30%;
}


.inventory-box {
    width: 50%;
    display: flex;
    /* height: 100%; */
}

.inventory-line,
.hero-equipments-left,
.hero-equipments-right {
    display: flex;
    flex-direction: column;
}

.hero-equipments-left {
    margin-right: auto;
    margin-left: 0.5rem;
}
.hero-equipments-right {
    margin-left: auto;
    margin-right: 0.5rem;
}


.cell,
.hero-cell {
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid black;
    margin: 0.05rem;
}

.hero-cell {
    margin: 0.5rem 0rem;
}

.cdk-drag-placeholder {
    opacity: 0.4;
    height: 0.5rem;
    border: none;
  }

  /* .cdk-drag-placeholder {
    display:none;
    } */

/* .equipments {
    width: 50%;
}

.inventory {
    width: 50%;
} */