.hero-left-side {
    width: 100%;
    height: 85%;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(0deg,#6c547e,#1b5963);
    border-radius: 1.5rem 1.5rem 0 0;
    overflow: hidden;
    overflow-y: scroll;
}


/* Scroll */
.hero-left-side::-webkit-scrollbar-track
{
    /* border: 0.1rem solid #79dfe2; */
    background-color: #1b5963;
    border-radius: 0.6rem;
}

.hero-left-side::-webkit-scrollbar
{
    width: 0.7rem;
    background-color: #1b5963;
    border-radius: 0.6rem;
}

.hero-left-side::-webkit-scrollbar-thumb
{
    background-color: #79dfe2;  
    border-radius: 0.6rem;
}