.login-div {
   z-index: 200;
}

.popupWrapper-diable
{
    position: fixed;
    background: rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index:100;
}
/* .buttons {
    display: flex;
} */
.btn {
    margin: 0rem 0.5rem;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
