.damage-panel {
    display: flex;
    border: 0.1rem solid teal;
    box-shadow:0.1rem 0.1rem 0.1rem teal;
    background:radial-gradient(teal 0%, transparent 20%, teal 80%);
}

.app-damage-control {
    margin: auto;
}

/* .damage-panel {
    width:22%;
    height: 15%;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 0.5rem;
    background: linear-gradient(0deg,#4b3333 15%,#812121 35%,rgb(113, 23, 131) 75%,#3d013f 85%,#4b0044);
    color: white;
    font-size: 1.2rem;
}

.damage-titile-box,
.damage-value-box {
    display: inline-block;
    margin: auto;
} */
/*
.dps-titile-box {
    margin-left: auto;
    margin-right: auto;
}

.dps-value-box {
    margin-left: auto;
    margin-right: auto;
} */

/* .title {
    left :1rem;
    top: 0.2rem;
    position: relative;
}

.value ,
.dps-mlt {
    margin: 0;
    padding: 0;
    line-height: 0.9rem;
} */

