.resource-main-box {
    width: 8rem;
    height: 3.5rem;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    box-shadow: inset 0 -2px 0 0 rgba(160,79,0,.55), 0 2px 4px 0 rgba(0,0,0,.35);
    border-radius: 1.5rem;
    background: linear-gradient(0deg,rgb(29, 158, 126),#1b5963);
    color: yellow;
    font-size: 1rem;
}

.resource-titile-box,
.resource-value-box {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.value,
.value-bonus {
    margin: auto;
}

.resource-icon {
        width: 2.5rem;
        height: 2.5rem;
        background: url('../../../assets/images/coin.png');
        background-size: contain;
        background-repeat: no-repeat;
        /* margin: 0 0.5rem; */
}

