.avatar-box {
    height: 4.5rem;
    width: 4.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* justify-content: center; */
    align-items: center;
    /* background-image: url('../../../assets/images/avarat-bird.png'); */
}

.avatar-pic {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.25rem solid rgb(1, 53, 83);
    background: url('../../../assets/images/cartoon-avatar-gamer2.png');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1s;
}

.avatar-name {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}

.avatar-pic:hover {
    transform: rotateY(180deg);
}