<div class="app-main" >

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.20/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.20/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.-/firebase-firestore.js"></script>
    <div class="app-main-top">
        <app-top-menu></app-top-menu>
        <app-avatar class="app-avatar"></app-avatar>
        <app-auth></app-auth>
    </div>
    <div class="app-main-area">
        <div class="main-left-area" onmousedown="return false" onselectstart="return false">
            <app-tabs-all></app-tabs-all>
            <!-- left-side -->
            <router-outlet></router-outlet>
        </div>
        <div class="main-right-area" onmousedown="return false" onselectstart="return false">
            <app-right-side></app-right-side>
        </div>
    </div>
    <app-damage-info class="damage-info"></app-damage-info>
</div>
