.app-main {
    min-width: 55rem;
    max-width: 80rem;
    display: grid;
    grid-template-areas:"header"
                        "main";
    grid-template-rows: 13% 87%;
    margin: auto;
    border: teal solid 0.2rem;
    border-radius: 1rem;
    box-shadow:0.5rem 0.5rem 0.5rem teal;
    background: linear-gradient(rgba(253, 253, 253, 1),teal 90%);
}

.app-main-top {
    margin: 0.5rem 0.5rem;
    grid-area: header;
}

.app-avatar {
    margin-left: auto;
}


 .app-main-area {
    display: grid;
    grid-template-areas:"left battlefiled";
    grid-template-columns: 50% 50%;
    grid-template-rows: 32rem;
    grid-area: main;
    grid-gap: 0.1rem;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
} 

.main-left-area {
    grid-area: left;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */
}

.main-right-area {
    right: 0;
    grid-area: battlefiled;
}

.app-main-top {
    display: flex;
}
