<div class="main">

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
<app-top-menu></app-top-menu>
<app-tabs-all></app-tabs-all>
<app-right-side></app-right-side>
<div>
    <!-- left-side -->
    <router-outlet></router-outlet>
</div>
<app-auth></app-auth>

</div>
