.active 
{
    background-color: #098797 !important;
}


.tab {
    min-height: 2rem;
    display: flex;
    cursor: pointer;
    background-color: #1d5064;
    border-radius: 1.5rem 1.5rem 0 0; 
    margin: 0 0.1rem;
}
.tab-box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tab-name {
    text-transform: capitalize;
    color: white;
    transition: color 1s;
}

.tab-pic {
    width: 20%;
}

.tab-name:hover {
    color: rgb(59, 201, 78);
}