.active 
{
    background-color: #098797 !important;
}


.tab {
    width: 118px;
    height: 40px;
    position: relative;
    top: 5;
    display: inline-block;
    margin: 0 2px 0 0; 
    cursor: pointer;
    background-color: #1d5064;
    border-radius: 1.5rem 1.5rem 0 0; 
}

.tab-name {
   right: 14px;
   width: 60px;
   top: 10px;
   position: absolute;
   text-transform: capitalize;
   color: white;
}




/* [class^="tabs-all-"] {
    width: 118px;
    height: 40px;
    position: relative;
    top: 5;
     display: inline-block;
     margin: 0 2px 0 0; 
    cursor: pointer;
    background-color: #9c8b7c;
    border-radius: 24px 24px 0 0; 
} */
