<div class="weapon-card">
    <div class="weapon-avatar-box">
        <img class="weapon-avatar" id="weapon-avatar-id" src="{{weapon.UrlImg}}">
    </div>
    <div class="weapon-data-box">
        <!-- <div class="weapon-level-box">
            level
            <div class="weapon-level">{{weapon.level}}</div>
        </div> -->
        <div class="weapon-level-box">
            <div class="weapon-label-level-box">LEVEL</div>
            <div class="weapon-level">{{weapon.level}}</div>
        </div>
        <div class="weapon-dps-box">
            <div class="weapon-label-dps-box">DPS</div>
            <div class="weapon-dps">{{weaponDPS}}</div>
        </div>
        <div class="color-btn-text color-btn-green"  [ngClass]="{'color-btn-grey': currentGoldValue < weapon.price}" (click)="levelUp()">
            <div class="f-gold"></div>
            <div class="gold">{{weaponPrice}}</div>
        </div>
    </div>

</div>