.battlefield {
    background-image: url(../../../assets/images/mysterious-forest.jpg);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0.5rem 0.5rem 0.5rem teal;
    font-weight: 400;
}