.left-side-quests {
    width: 630px;
    height: 700px;
    position: absolute;
    bottom:5px;
    left:50px;
    display: inline-block;
    cursor: pointer;
    background-color: #a0b4b8;
    border-radius: 24px 24px 0 0;
    overflow-y: scroll;
}