.enemy {
    /* display: inline-block; */
    /* background-position: 0 0,10px 10px; */
    width: 50%;
    height: 100%;
    /* position: relative; */
    /* left: 0px;
    top: 400px; */
    /* height: 100vh; */
    /* font-weight: 500; */
}