#enemy {
    /* display: inline-block; */
    /* background-position: 0 0,10px 10px; */
    width: 25rem;
    height: 30rem;
    background: rgba(rgb(146, 55, 55)(138, 49, 49), green, blue, 0.5);
    /* position: relative; */
    /* left: 0px;
    top: 400px; */
    /* height: 100vh; */
    /* font-weight: 500; */
}